<html>
<head>
    <title>Moja pierwsza strona</title>
	<link href="static/styles.css" rel="stylesheet">
</head>

<body>
<header>
<a href="https://www.uniwersytetdzieci.pl/"> 
<img src="static/ud-logo.png" alt="Uniwersytet Dzieci"></a> 
<h2>Hello World!!!</h2>
</header>
<section>
<h3>To jest moja pierwsza własna strona webowa. Za chwilę się nauczę jak zmienić jej wygląd. Zajrzyj pod ten adres za jakiś czas, a zobaczysz co się zmieniło!</h3>

</section>
<footer>
  <p>@byEmilia</p>
</footer>
</body>

</html>
